<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<div class="w3-sand w3-grayscale w3-large">

<!-- About Container -->
<div class="w3-container" id="about">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">ABOUT THIS WEBSITE</span></h5>
    <p>A community for Marvel Fans to unite! By the team at We Got This Covered. Follow for news, buy some new products, memes, content, rate Movies/ TV Shows and more.</p>
    <p>This Website is a website dedicated to giving the people all of the new products of marvel, reviews, We are also a spoiler-free website. We only post spoilers for new films one month after the US release.</p>
    
    <img src="https://pbs.twimg.com/media/EgF5H9iUcAErcL_.jpg" style="width:100%;max-width:1000px" class="w3-margin-top">
    <button routerLink="/products" class="btn btn-danger" style="margin-top:50px; margin-bottom:50px; margin-left:125px; font-size:40px;">Start Your Adventure</button>
  </div>
  <footer class="w3-center w3-light-grey w3-padding-48 w3-large">
    <p>Powered By <a href="https://www.facebook.com/Johnny.Hanun"  target="_blank" class="w3-hover-text-green">Johnny Hanun</a></p>
  </footer>
</div>




